//COLORS
$color-primary: #7EB693;

$color-secondary: #FFA858;

$color-white: #fff;
$color-grey-1: #F7F7F7;
$color-grey-2: #F1F1F1;
$color-grey-3: #D4D4D4;
$color-grey-4: #B8B8B8;
$color-grey-5: #525C60;

$color-primary-body: #274C5B;

$color-bg: #FCFCFC;


//FONTS
$font-primary: "Roboto", "sans-serif";
$font-secondary: "Yellowtail", "sans-serif";


