.footer {
    &__contacts {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4.8rem;
        padding: 10.4rem 4rem 4.8rem 4rem;

        @media only screen and (max-width: 37.5em) { //phone <= 600px
            padding: 0 1.6rem 6.4rem 1.6rem;
            flex-direction: column;
            align-items: flex-start;

        }
    }

    &__contact {
        text-align: end;
        @media only screen and (max-width: 37.5em) { //phone <= 600px
            text-align: start;
        }
    }

   
    &__titles {
        margin-bottom: 4.8rem;
    }

    &__logos {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 3.2rem 4.8rem 4.8rem 4.8rem;
        border-left: 1px solid $color-grey-3;
        border-right: 1px solid $color-grey-3;

        @media only screen and (max-width: 37.5em) { //phone <= 600px
            width: 100%;
            order: -1;
            border: none;
            padding: 3.2rem 0;
        }
    }

    &__logo {
        margin-bottom: 4rem;
    }

    &__paragraph {
        text-align: center;
    }

    &__utility-list {
        display: flex;
        flex-direction: column;
        list-style: none;
    }

    &__utility-item {
        font-size: 1.8rem;
        line-height: 3.2rem;
        letter-spacing: 0.036rem;
        color: $color-grey-5;

        &:not(:last-child) {
            margin-bottom: 2.4rem;
        }
    }

    &__icons {
        display: flex;
        align-items: center;
        gap: 2.4rem;

        @media only screen and (max-width: 37.5em) { //phone <= 600px
            gap: 1.2rem;
        }
    }

    &__icon {
        padding: 2rem;
        border-radius: 50%;
        background-color: $color-grey-1;
        cursor: pointer;
    }

    &__copyright {
        padding: 1.6rem 0;
        color: $color-grey-5;
        border-top: 1px solid $color-grey-3;
        text-align: center;
    }
}