.navigation {

    &__checkbox {
        display: none;
    }

    &__checkbox:checked ~ .header {
        z-index: 1000;
        position: fixed;
    }

    &__button {
        display: none;
        height: 4.5rem;
        width: 5rem;
        position: absolute;
        transform: translate(1rem, 1rem);
        top: 4.5rem;
        right: 4rem;
        z-index: 1500;
        text-align: center;
        cursor: pointer;

        @media only screen and (max-width: 56.25em) { //tab-port <= 900px
            display: inline-block;
            right: 2rem;
        }
    }

    &__background {
        display: none;
        height: 6rem;
        width: 6rem;
        position: absolute;
        top: 4.5rem;
        right: 2.5rem;
        background-color: $color-white;
        z-index: 1000;
        transition: all .2s ease-in-out;

        @media only screen and (max-width: 56.25em) { //tab-port <= 900px
            display: inline-block;
            right: 0.5rem;
        }
    }

    &__checkbox:checked ~ &__background {
        transform: scale(150);
    }

    &__icon {
        position: relative;
        margin-top: 2rem;

        &,
        &::before,
        &::after {
            width: 3rem;
            height: 2px;
            background-color: $color-primary-body;
            display: inline-block;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            transition: all .2s;
        }

        &::before { top: -1rem; }
        &::after { top: 1rem; }
    }

    &__checkbox:checked ~ &__button &__icon {
        background-color: transparent;
    }

    &__checkbox:checked ~ &__button &__icon::before {
        top: 0;
        transform: rotate(135deg);
    }

    &__checkbox:checked ~ &__button &__icon::after {
        top: 0;
        transform: rotate(-135deg);
    }

    
    &__list {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        @media only screen and (max-width: 56.25em) {
            display: none;
        }
    }
    
    &__checkbox:checked ~ .header &__list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: .8rem;
        position: absolute;
        top: 15.2rem;
        left: 4rem;
        z-index: 1000;
    }

    &__item {
        font-size: 2rem;
        line-height: 3.2rem;
        letter-spacing: 0.036rem;
        &:not(:last-child) {
            margin-right: 4rem;
        }; 
    }

    &__checkbox:checked ~ .header &__item {
            line-height: 6.4rem;
    }

    &__link {
        &:link,
        &:visited {
            color: $color-primary-body;
            text-decoration: none;
        };

        &:hover,
        &:active {
            color: $color-primary;
        }
    }

    &__icons {
        display: none;
        margin-top: 13.6rem;
    }

    &__checkbox:checked ~ &__icons {
        display: flex;
        gap: 2.4rem;
        position: absolute;
        bottom: 4rem;
        left: 4rem;
        z-index: 1000;
    } 
}