.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.2rem;
    padding: 8rem 4rem;
    background-color: $color-grey-1;

    @media only screen and (max-width: 56.25em) { //tab-port <= 900px
        padding: 6.4rem 1.6rem;
        flex-direction: column;
    }

    &__img {
        width: 50%;
        height: 100%;
    }

    &__description {
        width: 50%;
    }
}

.frame {
    display: flex;
    gap: 2rem;

    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-white;
        border-radius: 2rem;
        padding: 2.3rem 2.4rem 2.5rem 2.4rem;
    }

    &__content {

        &__title {
            font-size: 2.4rem;
            line-height: 3.2rem;
            letter-spacing: 0.036rem;
            margin-bottom: 1.2rem;
        }


    }
}