.btn {
    &,
    &:link,
    &:visited {
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        gap: 2.4rem;
        padding: 2.4rem;
        border-radius: 1.6rem;
    }

    &--text {
        text-decoration: none;
        text-transform: capitalize;
        font-size: 2rem;
        line-height: 3.2rem;
        letter-spacing: 0.036rem;
        color: $color-primary-body;
    }

    &--secondary-color {
        background-color: $color-secondary;
        color: $color-primary-body;
    }

    &--body-color {
        background-color: $color-primary-body;
        color: $color-white;
    }

    &--outline {
        color: $color-primary-body;
        border: 1px solid $color-primary-body;
    }
}

.btn-secondary {
    &,
    &:link,
    &:visited {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 2.4rem;
        text-decoration: none;
        text-transform: capitalize;
    }

    &--size1 {
        padding: 3.2rem 4rem;

        @media only screen and (max-width: 56.25em) { //tab-port <= 900px
            padding: 2.2rem 0rem;
        }

        @media only screen and (max-width: 37.5em) { //phone <= 600px
            padding: 3.2rem 1rem;
        }

    }

    &--white-color {
        background-color: $color-white;
        color: $color-primary-body;
    }
}
