.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    padding: 4rem 0 6rem 0;

    &__btn {
        display: inline-block;
        align-self: center;
        padding: 6rem 4rem;
        font-size: 4rem;
        border: none;
        border-radius: 1.6rem;
        background-color: $color-grey-1;
        color: $color-primary-body;
        cursor: pointer;

        @media only screen and (max-width: 56.25em) { //tab-port <= 900px
            padding: 2rem 2rem;
            font-size: 2rem;
            border-radius: 1.2rem;
        }
    }

    &__btn:hover,
    &__btn:focus {
        outline: 1px solid $color-primary-body;
    }

    &__images {
        display: flex;
        justify-content: center;

        &__img {
            width: 70%;
            height: 50%;

            @media only screen and (max-width: 56.25em) { //tab-port <= 900px
                width: 100%;
                height: 100%;
            }
        }
    }
}
