.eco-friendly {
    display: flex;

    @media only screen and (max-width: 87.5em) { //large <= 1400px
        flex-direction: column;
    }

    &__item {
        flex: 1;
    }

    &__left {
        flex-basis: 60%;
    }

    &__img {
        width: 95%;
        height: 100%;
        object-fit:cover;

        @media only screen and (max-width: 93.75em) { //large <= 1500px
            width: 100%;
        }
    }

    &__right {
        flex-basis: 40%;
    }
}

.eco-content {
    width: 127%;
    position: relative;
    background-color: $color-white;
    padding: 3.6rem 4.4rem 6.8rem 4.8rem;
    border-radius: 3.2rem;
    box-shadow: 16px 24px 52px -8px rgba(0, 0, 0, 0.15);
    z-index: 2;
    transform: translate(-18rem, 11rem);

    @media only screen and (min-width: 90em) { //large >= 1440px
        width: 100%;
        transform: translate(-18rem, 16rem);
    }

    @media only screen and (min-width: 118.75em) { // >= 1800px
        width: 90%;
        transform: translate(-18rem, 24rem);
    }

    @media only screen and (min-width: 125em) { // >= 2000px
        width: 80%;
        transform: translate(-18rem, 28rem);
    }

    @media only screen and (min-width: 137.5em) { // >= 2200px
        width: 70%;
        transform: translate(-18rem, 32rem);
    }

    @media only screen and (max-width: 75em) { //large <= 1400px
        width: 90%;
        transform: translate(5rem, -10rem);
    }

    @media only screen and (max-width: 56.25em) { //tab-port <= 900px
        transform: translate(5rem, -10rem);
    }

    @media only screen and (max-width: 37.5em) { //phone <= 600px
        transform: translate(2rem, -10rem);
    }

}