.hero {
    display: flex;
    align-items: center;
    padding: 16rem 0 16rem 4rem;
    background-image: url("img/hero.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media only screen and (max-width: 37.5em) { //phone <= 600px
        padding: 6.4rem 0 6.4rem 1.6rem;
    }


    &__content {
        width: 40%;

        @media only screen and (max-width: 56.25em) { //tab-port <= 900px
            width: 70%;
        }

        @media only screen and (max-width: 37.5em) { //phone <= 600px
            width: 80%;
        }
    }
    
}