.list-cards {
    display: flex;
    gap: 3.2rem;
    padding: 8rem 4rem;
    background-color: $color-grey-1;

    @media only screen and (max-width: 37.5em) { //phone <= 600px
        padding: 6.4rem 1.6rem;
        flex-direction: column;
        align-items: center;
    }

    &__card-gradient {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 100%;
        height: 100%;
        padding: 0 5.6rem 5.6rem 5.6rem;
        border-radius: 3.2rem;
        background-image: linear-gradient(180deg, rgba(1, 1, 1, 0.00) 0%, rgba(1, 1, 1, 0.74) 100%);

    }

    &__img {
        width: 110%;
        height: 58.4rem;
        display: flex;
        border-radius: 3.2rem;
        background-size: cover;

        @media only screen and (max-width: 37.5em) { //phone <= 600px
            width: 80%;
            // height: 64rem;
        }
    }
    
    &__card1 {
        background: url("img/list-card-img1.jpeg"), lightgray 50%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

    }

    &__card2 {
        background: url("img/list-card-img2.jpeg"), lightgray 50%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    &__card3 {
        background: url("img/list-card-img3.jpeg"), lightgray 50%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}