.news {
    display: flex;
    flex-direction: column;
    gap: 6rem;
    padding: 9.6rem 4rem;

    @media only screen and (max-width: 56.25em) { //tab-port <= 900px
        padding: 6.4rem 1.6rem 26.4rem 1.6rem;
    }

    &__heading {
        display: flex;
        @media only screen and (max-width: 75em) { //tab-land <= 1200px
            flex-wrap: wrap;
        }
    }

    &__titles {
        margin-right: auto;
    }

    &__btn {
        align-self: flex-end;
        @media only screen and (max-width: 75em) { //tab-land <= 1200px
            margin-top: 2.4rem;
        }
    }
}

.news__cards {
    display: flex;
    gap: 3.2rem;
    border-radius: 3.2rem;

    @media only screen and (max-width: 56.25em) { //tab-port <= 900px
        gap: 25.4rem;
        flex-direction: column;
    }

    &__date {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-self: baseline;
        padding: 1.6rem 2.3rem 1.6rem 2.2rem;
        border-radius: 50%;
        background-color: $color-white;
        position: relative;
        top: 3.1rem;
        left: 2.9rem;

        &--day {
            font-size: 3rem;
            font-weight: 700;
            line-height: 3.2rem;
        }

        &--month {
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.6rem;
            letter-spacing: 0.036rem;
        }
    }

    &__card {
        display: inline-flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 51.5rem;
        border-radius: 3.2rem;
    }

    &--img1 {
        background-image: url("img/news-card-img1.jpeg");
    }

    &--img2 {
        background-image: url("img/news-card-img2.jpeg");
    }
}

.news__desc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: center;
    width: 90%;
    padding: 4.8rem 4.8rem 5.6rem 4.8rem;
    border-radius: 3.2rem;
    background-color: $color-white;
    box-shadow: 16px 24px 52px -8px rgba(0, 0, 0, 0.15);
    position: relative;
    transform: translateY(5.6rem);

    @media only screen and (max-width: 56.25em) { //tab-port <= 900px
        transform: translateY(22.6rem);

    }

    &__author {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        gap: .8rem;

        &--name {
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 3.2rem;
            letter-spacing: 0.036rem;
        }
    }
}

