.offers {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 9.6rem 4rem;

    @media only screen and (max-width: 56.25em) { //tab-port <= 900px
        padding: 6.4rem 1.6rem;
        flex-direction: column;
    }

    &__content {
        max-width: 44%;
        @media only screen and (max-width: 56.25em) { //tab-port <= 900px
            max-width: 60%;
        }
    }
}

.card {
    display: flex;
    align-items: center;
    height: 38.4rem;
    width: 100%;
    padding-left: 6.4rem;
    border-radius: 3.2rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &--fruits {
        background-image: url("img/offers_fruits.jpeg");
    }

    &--vegetables {
        background-image: url("img/offers_vegetables.jpeg");
    }
}
