.offer-products {
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
    padding: 8rem 4rem;
    background-color: $color-primary-body;

    @media only screen and (max-width: 56.25em) { //tab-port <= 900px
        padding: 6.4rem 1.6rem;
    }

    &__offer {
        display: flex;

        @media only screen and (max-width: 56.25em) { //tab-port <= 900px
            flex-direction: column;
        }

        @media only screen and (max-width: 37.5em) { //tab-port <= 900px
            flex-direction: column;
        }
    }

    &__btn {
        align-self: flex-end;

        @media only screen and (max-width: 56.25em) { //tab-port <= 900px
            align-self: flex-start;
            margin-top: 2.4rem;
        }

        @media only screen and (max-width: 37.5em) { //phone <= 600px
            align-self: flex-start;
            margin-top: 2.4rem;
        }
    }

    &__offer-cards {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-gap: 3.2rem;

        @media only screen and (max-width: 37.5em) { //tab-port <= 600px
            flex-direction: column;
        }
    }
}

.offer-desc {
    margin-right: auto;
}