.products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 9.6rem 4rem;

    @media only screen and (max-width: 56.25em) { //tab-port <= 900px
        padding: 6.4rem 1.6rem;
    }

    &__grid {
        display: grid;
        gap: 3.2rem;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        margin-top: 4rem;

        @media only screen and (max-width: 56.25em) { //tab-port <= 900px
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
        }

        @media only screen and (max-width: 37.5em) { //phone <= 600px
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(6, 1fr);
        }
    }
}

