.product-card {
    width: 100%;
    padding: 3.2rem;
    border-radius: 3.2rem;
    background-color: $color-grey-1;

    &__btn {
        &,
        &:link,
        &:visited {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            border-radius: .8rem;
            padding: .8rem 2.4rem;
            text-decoration: none;
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 2.4rem;
            letter-spacing: 0.036rem;
            color: $color-white;
            background-color: $color-primary-body;
        }
    }

    &__figure {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__img {
        width: 104.7%;
        margin-bottom: 1.6rem;
    }

    &__caption {
        font-size: 2.2rem;
        line-height: 3.2rem;
        letter-spacing: 0.036rem;
        align-self: flex-start;
    }
}

    
.price-and-stars {
    display: flex;
    align-items: center;
    padding-top: 1.6rem;
    margin-top: 1.6rem;
    border-top: 1px solid $color-grey-4;

    @media only screen and (max-width: 87.5em) { //large <= 1400px
        flex-wrap: wrap;
    }

    &__price {
        font-size: 1.8rem;
        color: $color-grey-4;
        text-decoration: line-through;
        line-height: 3.2rem;
        letter-spacing: 0.036rem;
        margin-right: .8rem;
    }

    &__discounted-price {
        font-size: 2rem;
        font-weight: 700;
        line-height: 3.2rem;
        letter-spacing: 0.036rem;
        margin-right: auto;
    }
}
