.stars {
    display: flex;
    justify-content: center;
    align-items: center;

    &__icon {
        width: 1.6rem;
        height: 1.6rem;
        fill: $color-secondary;
    }

    &__icon--size2 {
        width: 2.4rem;
        height: 2.4rem;
        fill: $color-secondary;
    }
}