.subscribe {
    padding: 0 4rem;

    @media only screen and (max-width: 56.25em) { //tab-port <= 900px
        padding: 6.4rem 1.6rem;
    }
    
    &__container {
        display: flex;
        align-items: center;
        padding: 10.4rem 6.4rem;
        background-image: url("img/subscribe.png");
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 3.2rem;

        @media only screen and (max-width: 56.25em) { //tab-port <= 900px
            padding: 10.4rem 4.4rem;
            align-items: flex-start;
            flex-direction: column;
            gap: 3.2rem;
        }
    }

    &__heading {
        width: 40%;
        margin-right: auto;

        @media only screen and (max-width: 56.25em) { //tab-port <= 900px
            width: 100%;
        }
    }

    &__input {
        width: 35%;
        padding: 2.4rem 10rem 2.4rem 4.8rem;
        margin-right: 2.4rem;
        border-radius: 1.6rem;
        border: none;
        line-height: 3.2rem;
        font-size: 1.8rem;
        font-weight: 400;

        @media only screen and (max-width: 75em) { //tab-land <= 1200px
            width: 60%;
        }

        @media only screen and (max-width: 56.25em) { //tab-port <= 900px
            width: 100%;
        }
        
        &::placeholder {
            color: $color-grey-5;
            letter-spacing: 0.036;
        }
    }
}