.testimonials {
    display: flex;

    &__item {
        flex: 1;
        @media only screen and (max-width: 56.25em) { //tab-port <= 900px
            padding: 6.4rem 1.6rem;
            display: none;
        }
    }

    &__img1,
    &__img2 {
        flex-basis: 10%;
    }

    &__content {
        flex-basis: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $color-bg;
    }

    &__heading {
        text-align: center;
    }

    &__comment {
        text-align: center;
        margin-top: 3.2rem;
    }
}

.profile-img {
    width: 11.2rem;
    height: 11.2rem;
    border-radius: 50%;
    margin-bottom: 1.6rem;
}

.role {
    font-size: 1.4rem;
    line-height: 1.6rem;
    letter-spacing: 0.036rem;
    margin-top: .8rem;
}