*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px

  @media only screen and (max-width: 75em) { //tab-land <= 1200px
    font-size: 56.25%; // 1rem = 9px; 9/16 = 56.25%
  }

  @media only screen and (max-width: 56.25em) { //tab-port <= 900px
    font-size: 50%; // 1rem = 8px; 8/16 = 50%
  }

}

body {
    // max-width: 144rem;
    margin: 0 auto;
}

