body {
    font-family: $font-primary;
    font-weight: 400;
    color: $color-primary-body;
}

.title {
    font-family: $font-secondary;
    font-size: 3.6rem;
    line-height: 6.4rem;
    letter-spacing: 0.036rem;
    text-transform: capitalize;

    &--color-primary {
        color: $color-primary;
    }

    &--color-white {
        color: $color-white;
    }
}

.paragraph {
    font-size: 1.8rem;
    line-height: 3.2rem;
    letter-spacing: 0.036rem;

    &--color-grey5 {
        color: $color-grey-5;
    }
}

.paragraph-title {
    font-weight: 700;
    line-height: 3.2rem;
    letter-spacing: 0.036rem;

    &--size1 {
        font-size: 2.4rem;
    }

    &--size2 {
        font-size: 2rem;
    }

    &--size3 {
        font-size: 3rem;
    }

    &--color-grey5 {
        color: $color-grey-5;
    }
}

.heading-primary {
    font-size: 7rem;
    font-weight: 700;
    line-height: 8.4rem;
    letter-spacing: 0.036rem;
}

.heading-secondary {
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 5.6rem;
    letter-spacing: 0.036rem;

    &--color-white {
        color: $color-white;
    }
}

.heading-tertiary {
    font-size: 4rem;
    font-weight: 400;
    line-height: 4.8rem;
    letter-spacing: 0.036rem;

    &--color-white {
        color: $color-white;
    }
}